<%- include('./partials/header') %>
<div class="w-full h-screen items-start px-20 py-20">
  <% cartProducts.forEach((product) => { %>
  <div class="flex overflow-hidden mb-10 pb-4 border-b-[2px] border-zinc-800">
    <div class="w-[7rem] h-[7rem] rounded flex justify-center items-center bg-[<%= product.bgColor %>]">
      <img
        class="w-full h-[6rem] object-contain"
        src="/assets/images/<%= product.image %>"
        alt=""
      />
    </div>
    <div class="w-full h-fit-content px-5 my-auto">
      <h3><%= product.name %></h3>
    </div>
    <div class="mt-5">
      <h3 class="w-1/3">Total Amount</h3>
      <h3><%= product.price %></h3>
    </div>
  </div>
  <% }) %>
</div>
<%- include('./partials/footer') %>
