<%- include('./partials/header') %>
<div class="w-full h-screen flex items-start px-20 py-20">
  <div class="w-[25%] flex h-screen flex-col items-start">
    <div class="flex items-center gap-2">
      <h3>sort by</h3>
      <form action="/shop">
        <select class="border-[1px] px-2 py-1" name="sortby" id="">
          <option value="popular">Popular</option>
          <option value="newest">Newest</option>
        </select>
      </form>
    </div>
    <div class="flex flex-col mt-20">
      <a class="block w-fit mb-2" href="">New Collection</a>
      <a class="block w-fit mb-2" href="">All Products</a>
      <a class="block w-fit mb-2" href="">Discounted Products</a>
    </div>
    <div class="mt-32">
      <a class="block w-fit mb-2" href="">Filter by :</a>
      <a class="block w-fit mb-2" href="">Availability</a>
      <a class="block w-fit mb-2" href="">Discount</a>
    </div>
  </div>
  <div class="w-[75%] h-screen">
    <div class="productcontainer flex flex-wrap gap-5">
      <% products.forEach((product) => { %>
      <div
        class="flex items-start max-h-fit-content gap-5 text-[<%= product.textColor %>]"
      >
        <div class="w-60 bg-[<%= product.bgColor %>]">
          <div class="w-full h-52 flex justify-center items-center">
            <img
              class="w-[70%] h-[70%] object-contain"
              src="/assets/images/<%= product.image %>"
              alt=""
            />
          </div>
          <div
            class="flex justify-between items-center px-4 py-4 bg-[<%= product.panelColor %>]"
          >
            <div>
              <h3><%= product.name %></h3>
              <h4>₹ <%= product.price %></h4>
            </div>
            <form action="/users/addProduct" method="POST">
                <input type="hidden" name="productId" value="<%= product._id %>">
                <button type="submit" class="w-7 max-h-7 flex items-center justify-center rounded-full bg-white">
                  <i class="ri-add-line"></i>
                </button>
              </form>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
</div>
<%- include('./partials/footer') %>
